@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    background-color: lightgoldenrodyellow;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 400px; 
    height: auto;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-link {
    text-decoration: none;
    color: #000;
}

.nav-link:hover {
    color: #007bff;
}

/* Main Section */
.body-content{
  margin-bottom: 100px;

}




/* Content */

.about-prevent {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.links {
  color: black;
}

/* Footer */

#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type:none;
}

#social-networks i {
  font-size:150%;
  padding:5%;
  color:#3a3a3a;
}

.copyrightbox {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type:none;
 
}

.red-background{
    background-color: red;

}
.text-read{
  text-align: center;
  padding: 20px 0;
}
.text-read a:hover {
  text-decoration: underline;
}
